.cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-height: 500px;
  padding: 25px;
  margin: 0 0 100px 0;
  background: #141414;
}
