.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 40px;
  align-items: stretch;
  justify-content: center;
  list-style: none;
  margin: 0 0 100px 0;
  background: #141414;
  padding: 0 0 40px 0;
}

.cards__no {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font: 15px/20px "PT Sans", sans-serif;
}

@media screen and (max-width: 950px) {
  .cards {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .cards {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 866px) {
  .cards {
    grid-gap: 60px;
  }
}
