.ticketsPage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ticketsPage__list {
  display: flex;
  list-style: none;
}

.ticketsPage__item {
  margin: 0 25px 0 0;
  font: 15px/20px "PT Sans", sans-serif;
}

.ticketsPage__item_active {
  font-weight: bold;
}

.ticketsPage__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ticketsPage__item_active:hover {
  cursor: default;
  text-decoration: none;
}
