.newsPage {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.newsPage__error {
  font: 20px "PT Sans", sans-serif;
}

.newsPage__span {
  font: 16px "PT Sans", sans-serif;
  margin-right: 6px;
}

.newsPage__link {
  font: 16px "PT Sans", sans-serif;
  text-decoration: underline;
}
