.buyBilet {
  margin-left: 15px;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
}

.buyBilet__bileterInfo {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.buyBilet__btn {
  display: block;
  text-align: center;
  max-width: 185px;
  min-width: 165px;
  padding: 10px 20px;
  max-height: 40px;
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
  color: #1e1e1e;
  border: none;
  margin: 0 0 5px 0;
}

.buyBilet__span {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.buyBilet__logoKk {
  margin: -10px 0 0 20px;
}

.buyBilet__btn:hover {
  cursor: pointer;
}
