.socialLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 20px 0 0;
  opacity: 0.7;

  li:first-of-type {
    opacity: 0.6;
  }

  li:nth-of-type(2) {
    opacity: 0.6;
  }
  li:first-of-type:hover {
    opacity: 0.4;
  }

  li:nth-of-type(2):hover {
    opacity: 0.4;
  }
}

.socialLinks__item {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  transition: all 0.1s linear;
}

.socialLinks__item:last-of-type {
  margin-right: 0;
}

.socialLinks__item:hover {
  opacity: 0.6;
}

.footer {
  justify-content: space-between;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 830px) {
  .socialLinks {
    display: none;
  }

  .footer {
    justify-content: flex-start;
    margin: 0 0 0 0;
    display: flex;
  }

  .navMobile {
    display: flex;
    position: absolute;
    bottom: 50px;
    right: -4px;
  }
}
