@import "/styles/variables.module.scss";

.academy__title {
  max-width: 1000px;
  font: $font-title-xl;
  font-weight: 700;
  margin: 0 auto 50px;
}

.academy__content {
  max-width: 1000px;
  margin: 40px auto;
}

.academy__text {
  max-width: 730px;
  font: 21px/30px "PT Sans", sans-serif;
  margin: 50px 0 70px 0;

  p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .academy__text {
    padding: 0 20px;
  }
}
