.navFooter {
  margin: 0;
  list-style: none;
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media screen and (max-width: 830px) {
  .navFooter {
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 100%;
  }
}
