.navBottomPage {
  max-width: 1000px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
}

.navBottomPage__item {
}

.navBottomPage__link {
  display: block;
  position: relative;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
  margin: 0 0 10px 0;
}

.navBottomPage__image {
  object-fit: cover;
  transition: all 0.2s ease-in;
}

.navBottomPage__image:hover {
  transform: scale(1.1);
}

.navBottomPage__span {
  display: block;
  text-align: center;
  font-size: 17px;
}

@media screen and (max-width: 996px) {
  .navBottomPage {
    padding: 0 16px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 820px) {
  .navBottomPage {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .navBottomPage__link {
    width: 100px;
    height: 100px;
  }

  .navBottomPage__item {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .navBottomPage {
    display: none;
  }
}
