.eventName {
  position: absolute;
  right: 0;
  top: 0;
  font: 38px "PT Serif", serif;
}

// 1
.chayka {
  top: -50px
}

// 2
.down {
  top: 40px;
  right: 30px;
}

// 3
.jiselle {
  top: -30px;
  left: 30px;
}

// 4
.roden {
  top: 30px;
  right: -70px;
}

// 5
.onegin {
  top: 30px;
  right: -70px;
}

// 6
.beyond {
  top: 0;
  right: 0;
}

// 7
.karenina {
  top: 0;
  right: 0;
}

// 8
.chaikovsky {
  top: 0;
  right: 0;
}

// 9
.hamlet {
  top: 0;
  right: 0;
}

// 10
.musagette {
  top: 0;
  right: 0;
}

// 11
.moliere {
  top: 0;
  right: 0;
}

// 12
.effect {
  top: 0;
  right: 0;
}

// 13
.requiem {
  top: 0;
  right: 0;
}

// 14
.donKihot {
  top: 0;
  right: 0;
}

// 15
.jerusalem {
  top: 0;
  right: 0;
}