.eventImagineMob__link {
  //   width: 200px;
  //   display: none;
}

.eventImagineMob__imgWrapper {
  margin: 0;
}

.eventImagineMob__img {
  min-width: 100%;
  height: auto;
  //   display: none;
}

.eventImagineMob__caption {
  font: 22px/25px "PT Sans", sans-serif;
  text-align: center;
}

.musagette {
  margin: 115px 0 0 0;
}

.beyond {
  margin: 134px 0 0 0;
}

.jiselle {
  margin: 75px 0 0 0;
}

.karenina {
  margin: 136px 0 0 0;
}

.chaikovsky {
  margin: 65px 0 0 0;
}

.hamlet {
  margin: 12px 0 0 0;
}

.moliere {
  margin: 65px 0 0 0;
}
.effect {
  margin: 35px 0 0 0;
}

.requiem {
  margin: -15px 0 0 0;
}

.donKihot {
  margin: -25px 0 0 0;
}
.jerusalem {
  margin: 17px 0 0 0;
}
