.eventImagineMob {
  // width: 265px;
  // height: 320px;
}

.eventImagineMob__link {
  // width: 100%;
  // display: block;
  //   display: none;
}

.eventImagineMob__imgWrapper {
  position: relative;
  margin: 0;
  width: 100%;
  width: 265px;
  height: 320px;
}
.eventImagineMob__imgWrapper_perfPage {
  width: 165px;
  height: 226px;
}

.eventImagineMob__img {
  min-width: 100%;
  object-fit: contain;
}

.eventImagineMob__caption {
  position: absolute;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  text-align: center;
  bottom: -40px;
  font: 22px/25px "PT Sans", sans-serif;
}

// .eventImagineMob__caption_perfPage {
//   bottom: -20px;
// }

.musagette {
  margin: 0 0 0 0;
}

.beyond {
  margin: 0 0 0 0;
}

.jiselle {
  margin: 0 0 0 0;
}

.karenina {
  margin: 0 0 0 0;
}

.chaikovsky {
  margin: 0 0 0 0;
}

.hamlet {
  margin: 0 0 0 0;
}

.moliere {
  margin: 0 0 0 0;
}

.effect {
  margin: 0 0 0 0;
}

.requiem {
  margin: 0 0 0 0;
}

.donKihot {
  margin: 0 0 0 0;
}

.jerusalem {
  margin: 0 0 0 0;
}

.chayka {
  margin: 0 0 0 0;
}

.down {
  margin: 0 0 0 0;
}

@media screen and (max-width: 820px) {
  .eventImagineMob__caption_perfPage {
    font: 16px/18px "PT Sans", sans-serif;
  }
}
