.dance__content {
  max-width: 960px;
  margin: 40px auto;
}

.dance__text {
  max-width: 630px;
  font: 15px/20px "PT Sans", sans-serif;
  text-align: justify;
  margin: 0 auto 70px;

  p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .dance__text {
    padding: 0 20px;
    // justify-content: space-around;
  }
}
