.press {
  max-width: 730px;
  font: 16px/24px "PT Serif", sans-serif;

  p {
    text-align: end;
    text-align: right;
    color: #aaa;
    font-style: italic;
    margin: 0 0 20px 0;
  }

  blockquote {
    font: 21px/30px "PT Serif", sans-serif;

    margin: 0;
  }

  blockquote p {
    text-align: justify;
    color: #fff;
    font-style: normal;
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .press {
    max-width: 730px;
    font: 16px/24px "PT Serif", sans-serif;

    p {
      text-align: end;
      text-align: right;
      color: #aaa;
      font-style: italic;
      margin: 0 0 20px 0;
    }

    blockquote {
      font: 17px/25px "PT Serif", sans-serif;

      margin: 0;
    }

    blockquote p {
      text-align: justify;
      color: #fff;
      font-style: normal;
      margin: 0;
    }
  }
}
