.nav {
  margin: 0 0 20px 0;
}

.nav__link {
  color: #333;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}

.nav__span {
  margin-left: 5px;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}