.nav {
  margin: 0 0 20px 0;
  display: none;
}

.nav__link {
  color: #333;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}

.nav__span {
  display: inline;
  margin-left: 5px;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 820px) {
  .nav {
    display: block;
  }
  .nav__link {
    font-size: 13px;
  }

  .nav__span {
    font-size: 13px;
  }
}
