.introduction {
  max-width: 730px;
  font: 21px/30px "PT Serif", sans-serif;
  blockquote {
    margin: 0;
  }
}

.introduction > p {
  text-align: end;
  font-style: italic;
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 540px) {
  .introduction {
    font: 17px/25px "PT Serif", sans-serif;
  }
}
