@import "/styles/variables.module.scss";

.workshops__title {
  max-width: 1000px;
  font: $font-title-xl;
  font-weight: 700;
  margin: 0 auto 50px;
}

.workshop__content {
  max-width: 960px;
  margin: 40px auto;
}

.workshop__text {
  max-width: 630px;
  font: 15px/20px "PT Sans", sans-serif;
  text-align: justify;
  margin: 0 auto 70px;

  p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .workshop__text {
    padding: 0 20px;
  }
}
