.navItem {
  position: relative;
  margin-right: 20px;
  font: 18px "PT Serif", serif;
  white-space: nowrap;
  padding: 0 0 15px 0;
}

.navItem:hover {
  text-decoration: underline;
}

.navItem_active {
  text-decoration: underline;
}

.footer {
  margin: 0 0 14px 0;
  font-size: 15px;
  min-width: 100px;
  font: 15px/20px "PT Sans", sans-serif;
}

.navItem__submenu {
  visibility: hidden;
  // opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  // transition: all 0.2s ease-in;
}

.navItem:hover .navItem__submenu {
  visibility: visible;
  // opacity: 1;
}

.submenu {
  font: 17px "PT Serif", serif;
  padding: 10px 0 0 10px;
  color: #fff;
  margin: 0 20px 6px 0;
}

.navMobile {
  color: black;
  font: 20px/26px "PT Sans", sans-serif;
  text-align: end;
}

@media screen and (max-width: 830px) {
  .footer {
    min-width: 50px;
  }
  .navItem {
    margin: 0 14px 0 0;
  }
}
