.siteDev {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  //   margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(20, 20, 20, 0.9);
}

.siteDev__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteDev__btn {
  text-transform: uppercase;
  height: 40px;
  width: 170px;
  background: #333;
  border: 1px solid rgba(#fff, 0.3);
  color: white;
  font: 15px "PT Sans", sans-serif;
}

.siteDev__btn:hover {
  cursor: pointer;
  border: 1px solid rgba(#fff, 1);
}

.siteDev__linkWrapper {
  text-transform: uppercase;
  background-color: #333;
  height: 40px;
  width: 170px;
  border: 1px solid rgba(#fff, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0;
}

.siteDev__linkWrapper:hover {
  border: 1px solid rgba(#fff, 1);
}

.siteDev__link {
  //   display: block;
  //   text-align: center;
  //   height: 40px;
  //   width: 140px;

  //   margin: 0 20px 0 0;
  //   text-align: center;
}

.siteDev__choose {
  display: flex;
}

.siteDev__text {
  width: 400px;
  text-align: center;
}
