.partners {
  max-width: 960px;
  margin: 0 auto 100px;
}

.partners__list {
  list-style: none;
  padding: 0;
  margin: 0 0 150px 0;
  display: flex;
}

.partners__title {
  text-align: center;
  margin: 100px 0 70px 0;
}
