.iTicketsPage {
  position: relative;
  width: 100%;
  padding: 0 0 0 20px;
}

// .iTicketsPage::before {
//   position: absolute;
//   left: -2px;
//   top: 95px;
//   height: 2px;
//   width: 100%;
//   content: "";
//   background-color: #f0f0f0;
// }

// .iTicketsPage_hasPushkinCard {
// }

// .iTicketsPage_hasPushkinCard::after {
//   position: absolute;
//   right: 50px;
//   top: 50%;
//   transform: translateY(-100%);
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   content: "";
//   background-color: #00b5ff;
//   background-image: url("../../../images/pushkinCard.png");
//   background-size: cover;
//   background-repeat: no-repeat;
// }

.iTicketsPage__name {
  margin: 0;
  padding: 0 0px 0 0;
  font: 21px/25px "PT Sans", sans-serif;
  font-weight: 700;
}

.iTicketsPage__building {
  display: inline;
  width: 100%;
  margin: 0 10px 0 0;
  font: 17px "PT Sans", sans-serif;
  color: #fff;
}

.iTicketsPage__address {
  display: inline;
  margin: 5px 40px 0 0;
  text-align: left;
  font: 17px "PT Sans", sans-serif;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  // .iTicketsPage::before {
  //   width: 100%;
  // }

  // .iTicketsPage_hasPushkinCard::after {
  //   right: 20px;
  // }

  // .iTicketsPage__name {
  //   padding: 0 150px 0 0;
  // }
}

@media screen and (max-width: 820px) {
  .iTicketsPage::before {
    width: 100%;
    // max-width: 150%;
  }

  .iTicketsPage_hasPushkinCard::after {
    right: 20px;
  }

  .iTicketsPage__name {
    padding: 0 150px 0 0;
  }
}

@media screen and (max-width: 520px) {
  .iTicketsPage {
    padding: 0 0 0 0px;
  }
  .iTicketsPage__building {
    display: block;
  }

  .iTicketsPage__address {
    display: block;
    margin: 0 0 20px 0;
  }
}
