.itemNews {
  display: flex;
  margin: 0 0 40px 0;
}

.itemNews__imgWrapper {
  position: relative;
  width: 300px;
  height: 195px;
  margin: 0 25px 0 0;
  // object-fit: cover;
}

.itemNews__image {
  object-fit: cover;
}

.newsItem__description {
  max-width: 460px;
  font: 16px "PT Sans", sans-serif;

  p {
    margin: 0;
  }
}

.itemNews__link {
  display: block;
  font: 20px "PT Sans", sans-serif;
  margin: 0 0 20px 0;
}

.itemNews__link:hover {
  text-decoration: underline;
}