.ensemblePage {
  max-width: 960px;
  margin: 0 auto 100px;
  text-align: center;
}

.ensemblePage__error {
  font: 20px "PT Sans", sans-serif;
}

.ensemblePage__span {
  font: 16px "PT Sans", sans-serif;
  margin-right: 6px;
}

.ensemblePage__link {
  font: 16px "PT Sans", sans-serif;
  text-decoration: underline;
}
