.switcher {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 0;
  margin: 3px 0 0 0;
}

.switcher__item {
  margin-right: 20px;
}

.switcher__item:last-of-type {
  margin-right: 0;
}

.switcher__link {
  font: 16px "PT Serif", serif;
}

.switcher__link:hover {
  text-decoration: underline;
}

.switcher__link_active {
  font: 16px "PT Serif", serif;
  cursor: default;
  color: #2B2B2B;
}

.switcher__link_active:hover {
  text-decoration: none;
}