.switcher {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 0;
  margin: 0;
}

.switcher__link {
  
}

.switcher__link:hover {
  text-decoration: underline;
}

.switcher__link_active {
  opacity: .3;
  cursor: default;
}

.switcher__link_active:hover {
  text-decoration: none;
}