.synopsis {
  max-width: 730px;
  font: 21px/30px "PT Serif", sans-serif;
  p {
    strong {
      font: 18px/30px "PT Serif", sans-serif;
      text-transform: uppercase;
      color: rgba(#fff, 0.6);
    }
  }
}

@media screen and (max-width: 540px) {
  .synopsis {
    font: 17px/25px "PT Serif", sans-serif;
  }
}
