@import "/styles/variables.module.scss";

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 50px 0;
  background: #141414;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__links {
}

@media screen and (max-width: 995px) {
  .footer {
    padding: 30px 16px 50px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 830px) {
  .footer {
    padding: 30px 20px 10px;
    background: #141414;
  }

  .footer__content {
    flex-direction: column;
    justify-content: start;
  }
}
