.card {
  // min-height: 56px;
  position: relative;
  padding: 0 0 0 25px;
  font: 15px "PT Sans", sans-serif;
}

.card::before {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: -1px;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../../images/map-pin.svg);
  background-repeat: no-repeat;
}

.card_isOverlay {
  // position: relative;
  margin: 0 0 15px 0;
}

.card_isOverlay::before {
  position: absolute;
  top: 5px;
  left: -1px;
  content: "";
  width: 18px;
  height: 27px;
  background-image: url(../../../images/map-pin.svg);
}

.card__city {
  margin: 10px 0 0 0;
}

.card__theatre {
  margin: 0;
}
