.itemNews {
  max-width: 140px;
}

.itemNews__link {
}

.itemNews__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 830px) {
  .itemNews {
    max-width: 100%;
  }

  .itemNews__link {
    display: block;
    margin: 0 0 20px 0;
  }
}
