@import "/styles/variables.module.scss";

.about__imgWrapper {
  position: relative;
  width: 100%;
  height: 490px;
  margin: 0 0 50px 0;
}

.about__image {
  object-fit: cover;
}

.about__content {
  max-width: 1000px;
  font: $font-text-xl;
  margin: 0 auto;
}

.about__text {
  max-width: 730px;
}

.about__video {
  width: 100%;
  height: 480px;
  border: 0;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 670px) {
  .about__imgWrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
  }

  .about__content {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .about__content {
    font: $font-text-m;
  }
}
