.carousel {
  margin: 0 0 50px 0;
}

.carousel__imgCont {
  position: relative;
  height: 630px;
}

.carousel__img {
  height: auto;
  width: auto;
  object-fit: contain;
}

.news {
  height: 412px;
}

.dance {
  height: 385px;
}

.danceAcademy {
}

@media screen and (max-width: 760px) {
  .eifman {
    height: 400px;
  }

  .carousel__imgCont {
    height: 430px;
  }
}
