.menuOnPage {
  max-width: 960px;
  margin: 0 auto 20px;
}

.menuOnPage__link {
  color: #333;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}

.menuOnPage__span {
  display: inline;
  margin-left: 10px;
  font-family: "PT Serif", sans-serif;
  font-size: 20px;
}
