.memberLink {
  width: 100%;
  height: auto;
}

.memberLink__container {
  position: relative;
  width: 140px;
  margin: 0;
  object-fit: cover;
}

.memberLink__image {
  width: 140px;
  height: 186px;
  object-fit: cover;
}
