@import "/styles/variables.module.scss";

.palace {
  max-width: 1000px;
  margin: 0 auto;
}

.palace__title {
  max-width: 1000px;
  font: $font-title-xl;
  font-weight: 700;
  margin: 0 auto 50px;
}

.palace__imageWrapper {
  position: relative;
  max-width: 1000px;
  width: 100%;
  min-height: 460px;
  margin: 0 0 30px 0;
}

.palace__image {
  object-fit: cover;
}

.palace__text {
  max-width: 630px;
  font: 15px/20px "PT Sans", sans-serif;
  text-align: justify;
  margin: 0 auto 70px;

  p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 1040px) {
  .palace__title {
    font: $font-title-xl;
    margin: 0 0 50px 0;
    padding: 0 20px;
  }

  .palace {
    padding: 0 20px;
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .palace__title {
    font: $font-title-m;
  }
  .palace__text {
    padding: 0;
  }
}
