$primary: #3813be;
// XL-L-M-S
$font-title-xl: 45px/50px "PT Sans", sans-serif;
$font-title-m: 32px/35px "PT Sans", sans-serif;

$font-text-xl: 21px/30px "PT Serif", sans-serif;
$font-text-m: 17px/25px "PT Serif", sans-serif;
$font-text-s: 16px/24px "PT Serif", sans-serif;

:export {
  primary: $primary;

  font-title-xl: $font-title-xl;
  font-title-m: $font-title-m;

  font-text-xl: $font-text-xl;
  font-text-m: $font-text-m;
  font-text-s: $font-text-s;
}
